<% provide :title, t("user.login") %>
<div id="login-page" class="row">
  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <div class="col s12 z-depth-6 card-panel">
    <%= form_for :session, url: login_path do |f| %>
      <div class="row">
        <div class="input-field col s12 center">
          <%= link_to image_tag("logo.png"), "#" %>
          <p class="center login-form-text"></p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.email_field :email, class: "validate", id: "email" %>
          <%= f.label :email, t("user.email"), class: "center-align" %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.password_field :password, id: "password" %>
          <%= f.label :password, t("user.password") %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
          <%= f.check_box :remember_me, id: "remember-me" %>
          <%= f.label :remember_me, t("user.remember_me") %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.submit t("user.btn_login"), class: "btn waves-effect waves-light col s12" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small"><%= link_to t("user.btn_create"), signup_path %></p>
        </div>
        <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><%= link_to t("user.forgot_password"), "#" %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
