<div class="container">
  <div class="fb-profile">
    <%= image_tag "backgroud.jpg", class: "fb-image-lg", align: "left" %>
    <%= image_tag @user.avatar.url, class: "fb-image-profile thumbnail", align: "left" %>
    <div class="fb-profile-text">
    <% if current_user?(@user) %>
      <h1><%= @user.name %></h1>
      <p><%= @user.email %></p>
    <% else %>
      <%= render "shared/check_friend", member: @user %>
    <% end %>
    </div>
  </div>
</div>
