<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" id="profile"><%= link_to t("user.profile"), "#" %></li>
        <li><%= link_to t("document.list_document"), document_user_path(@user) %></li>
        <li id="list_friends"><%= link_to t("user.list_friends"),firend_user_path(@user) %></li>
        <li><%= link_to t("document.up_load_file"), "javascript:void(0)", id: "up_load_file" %></li>
        <li id="buy_card"><%= link_to t("document.buy_card"), "#" %></li>
      </ul>
    </div>
  </div>
</nav>
<%= content_for :javascript do %>
  <script type="text/javascript">
    <%= render "document.js" %>
  </script>
<% end %>
