<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= check_current_url?(user_path(@user)) %>" id="profile">
          <%= link_to t("user.profile"), @user %>
        </li>
        <li class="<%= check_current_url?(user_documents_path(@user)) %>">
          <%= link_to t("document.list_document"), user_documents_path(@user) %>
        </li>
        <li class="<%= check_current_url?(user_friends_path(@user)) %>">
          <%= link_to t("user.list_friends"),user_friends_path(@user) %>
        </li>
        <% if current_user? @user %>
          <li class="<%= check_current_url?(user_payments_index_path(current_user)) %>">
            <%= link_to t("payment.management_payment"), user_payments_index_path(current_user) %>
          </li>
        <% end %>
        <li class="<%= check_current_url?(user_histories_index_path(@user)) %>">
          <%= link_to t("user.management_history_document"), user_histories_index_path(@user) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
