<%= render "header" %>
<div class="container-stories">
  <div class="container">
    <%= render "left_bar" %>
    <div class="col-md-6" id="div-show-user">
    <%= form_for @user, multipart: true, class: "form-horizontal" do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.label :name, t("user.name"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", disabled: "disabled" %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="form-group">
        <%= f.label :email, t("user.email"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.email_field :email, class: "form-control", disabled: "disabled" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.label :birthday, t("user.birthday"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.date_field :birthday, class: "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.label :address, t("user.address"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.label :total_coin, t("user.total_coin"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.number_field :total_coin, class: "form-control", disabled: "disabled" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.label :number_free, t("user.number_free"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.number_field :number_free, class: "form-control", disabled: "disabled" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.label :number_upload, t("user.number_upload"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.number_field :number_upload, class: "form-control", disabled: "disabled" %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.label :avatar, t("user.avatar"), class: "col-md-4" %>
        <div class="col-md-8">
          <%= f.file_field :avatar %>
          <%= image_tag @user.avatar.url if @user.avatar? %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="form-group">
        <%= f.submit t("user.edit"), class: "btn btn-primary col-md-offset-10" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
