<div class="col-md-8">
  <div class="page-header" id="stories">
    <h1 class="text-primary text-center"><%= t "document.list_documents" %></h1>
  </div>
    <% @documents.each do |document| %>
      <div class="col-md-6" style="margin-bottom: 10px;">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag document.image.url, class: "img-responsive"%>
          </div>
          <div class="col-md-6">
            <h3><%= document.name %></h3>
            <p class="text-justify"><%= document.description %></p>
            <%= link_to t("read_more"), document, class: "btn-info btn" %>
            <br />
            <br />
            <p>
              <i class="fa fa-download" aria-hidden="true"></i>
              <span><%= document.number_download %><%= t "document.downloaded" %></span>
            </p>
            <p>
              <i class="fa fa-user" aria-hidden="true"></i>
              <span><%= document.owner.name %></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="col-md-offset-7">
      <%= will_paginate @documents %>
    </div>
</div>
