<div id="login-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <%= form_for @user, url: signup_path, multipart: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="row">
        <div class="input-field col s12 center">
          <h4 class="btn btn-regiter"><%= t "user.sign_up" %></h4>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.text_field :name, class: "form-control", id: "username" %>
          <%= f.label :name, t("user.name"), class: "center-align" %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-communication-email prefix"></i>
          <%= f.email_field :email, class: "validate", id: "email" %>
          <%= f.label :email, t("user.email"), class: "center-align" %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.date_field :birthday, class: "form-control", id: "birthday" %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.password_field :password, id: "password" %>
          <%= f.label :password, t("user.password") %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.password_field :password_confirmation, id: "password-again" %>
          <%= f.label :password_confirmation, t("user.confirmation") %>
        </div>
      </div>
      <div class="row margin div-image">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.submit yield(:button_text), class: "btn  col s12 btn-regiter" %>
        </div>
        <div class="input-field col s12">
          <p class="margin center medium-small sign-up">
            <%= t "user.already_account" %>
            <%= link_to t("user.login"), login_path %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
