<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/rails_default" %>
  </head>

  <body data-locale="<%= I18n.locale %>">
    <%= render "layouts/navbar" %>
    <section id="blog-section" >
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <div class="container">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </section>
    <%= content_for :javascript %>
  </body>
</html>
