<div class="col-lg-8 col-md-8">
  <div class="widget-sidebar">
    <h2 class="title-widget-sidebar">// <%= t "coin.buy_coin" %></h2>
    <div class="row">
      <%= render "coin_form" %>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4">
<%= render "home_pages/list_friends_request" %>
<%= render "home_pages/list_friends_accpeting" %>
<%= render "home_pages/history" %>
</div>
